.rightbar {
  flex: 3;
  padding-left: 30px;
  /* border-left: 2px solid #000000; */
  /* border-top: 2px solid red; */
  box-shadow: 0px 10px 13px -7px #000000;

  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 50px;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}

.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-bottom: 30px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
  opacity: 0.9;
}
.rightbarFollowingImg:hover {
  opacity: 1;
  transition: transform 0.4s ease-in-out;
  transform: scale(1.2);
}
.rightbarFollowingName {
  text-align: center;
  text-align: none;
  color: #0a8031;
  font-size: 20px;
  font-weight: 600;
}
.rightbarFollowButton1 {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #0e9174;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.rightbarReportButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #c27707;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.rightbarUnReportButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #414141;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.rightbarUnFollowButton1 {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #ac1111;
  color: white;
  border-radius: 3px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.rightbarAdminDeleteButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #c51717;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.on {
  color: rgb(3, 105, 25);
}
.off {
  color: #ccc;
}
.rightbarFollowButton:focus {
  outline: none;
}
.rightbarUnFollowButton:focus {
  outline: none;
}
.leftbarTitle {
  font-size: 25px;
  color: rgb(51, 133, 13);
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px;
}
.leftbarFollowings {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftbarFollowing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 70px;
  cursor: pointer;
}
.leftbarFollowingImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 15px;
  opacity: 0.9;
}
.leftbarFollowingImg:hover {
  opacity: 1;
  transition: transform 0.4s ease-in-out;
  transform: scale(1.2);
}
.leftbarFollowingName {
  text-align: center;

  color: #447c04;
  font-size: 20px;
  font-weight: 600;
}
.chatOnline {
  flex: 3;
}
.chatOnlineText {
  text-align: center;
  background-color: rgba(90, 138, 68, 0.329);
  border-radius: 15px;
  font-weight: 500;
  font-size: large;
}

.chatOnlineText2 {
  text-align: center;
  border-radius: 10px;
  margin-top: 15px;
  font-size: large;
  color: rgb(11, 73, 14);
  font-weight: 600;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}
.sidebarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}
